body {
    background-image: url("kyoshi.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
}

a {
    color: #966f39;
}

table, td, th {
    border: 2px solid;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border-color: #000000;
    text-align: left;
}

td, th {
    padding-left: 7px;
}

.header-year {
    width: 100px;
}

#container {
    width: 450px;
    margin-left: auto;
    margin-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0f0f03;
    border-radius: 20px;
}

#header-box {
    width: 400px;
    height: 175px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #a97c2c;
    color: rgb(43, 63, 17);
    border-style: solid;
    border-width: 6px;
    border-radius: 40px;
    border-color: #3a2200;

}

#timenav {
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #31391c;
    text-align: center;
    color: #8b815c;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#findit {
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #31391c;
    text-align: center;
    color: #8b815c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}